<div class="container">
  <div class="info">
    <p class="title">Profile information</p>
    <div class="description">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quas quos
        recusandae totam porro enim natus at quo aperiam asperiores id, expedita
        ea corporis ipsa voluptatem nemo! Labore, quod fugit. Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Enim praesentium assumenda sed
        dignissimos sequi cupiditate! Architecto esse, harum, corporis quas,
        earum magnam delectus modi necessitatibus quis voluptatibus placeat
        maxime obcaecati.Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Ut quas quos recusandae totam porro enim natus at quo aperiam
        asperiores id, expedita ea corporis ipsa voluptatem nemo! Labore, quod
        fugit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
        praesentium assumenda sed dignissimos sequi cupiditate! Architecto esse,
        harum, corporis quas, earum magnam delectus modi necessitatibus quis
        voluptatibus placeat maxime obcaecati. ea corporis ipsa voluptatem nemo!
        Labore, quod fugit.
      </p>
    </div>
    <div class="multiple-buttons">
      <p-button type="submit" (click)="toCreate()" label="Create"></p-button>
      <p-button type="submit" (click)="toEdit()" label="Edit" severity="warning"></p-button>
      <p-button type="submit" (click)="toDelete()" label="Delete" severity="danger"></p-button>
    </div>
  </div>
  <div class="card" *ngIf="isFull">
    <p-table
      [scrollable]="true"
      scrollHeight="700px"
      [value]="userInfo"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Title</th>
          <th>Category</th>
          <th>Level</th>
          <th>Points</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-profile>
        <tr *ngFor="let quiz of user.quizProfile; let i = index">
          <td>{{ quiz.title }}</td>
          <td>{{ quiz.category }}</td>
          <td>
            <p-rating
              [ngModel]="quiz.rating"
              [readonly]="true"
              [cancel]="false"
            ></p-rating>
          </td>
          <td>{{getPoints[i]}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
