<div class="container">
  <form>
    <div class="quiz-up">
      <div class="left-site">
        <p-listbox
          [options]="listQuizes"
          [(ngModel)]="selectedQuiz"
          optionLabel="title"
          name="allQuizes"
          [filter]="true"
          [style]="{ width: '15rem' }"
          [listStyle]="{ 'max-height': '50vh' }"
          (click)="test()"
        ></p-listbox>
      </div>
      <div class="left-site" *ngIf="selectedQuiz != null">
        <p-listbox
          [options]="category"
          [(ngModel)]="selectedQuiz.category"
          optionLabel="nameCategory"
          [filter]="true"
          [style]="{ width: '15rem' }"
          [listStyle]="{ 'max-height': '50vh' }"
          name="category"
        ></p-listbox>
      </div>
      <div class="mid-site">
        <div class="space"></div>
        <div class="space"></div>
      </div>
      <div class="right-site">
        <span class="p-float-label">
          <textarea
            [(ngModel)]="selectedQuiz.description"
            id="float-input"
            rows="5"
            cols="30"
            pInputTextarea
            name="description"
          ></textarea>
          <label for="float-input">Descryption</label>
        </span>
        <input
          id="input-title"
          placeholder="Title"
          type="text"
          pInputText
          [(ngModel)]="selectedQuiz.title"
          name="title"
        />
      </div>
    </div>
    <div class="text-info">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente,
        dicta nobis. Deleniti soluta repellat illo nihil. Laboriosam corporis
        sunt est ea aliquid nulla nesciunt nostrum veniam fugiat, mollitia
        tempore? Voluptas? Deleniti soluta repellat illo nihil. Laboriosam
        corporis sunt est ea aliquid nulla nesciunt nostrum veniam fugiat,
        mollitia tempore? Voluptas?
      </p>
    </div>
    <div class="quiz-down" *ngIf="uploadedImages.length > 0">
      <div class="list">
        <div class="item" *ngFor="let item of uploadedImages; let i = index">
          <img [src]="'data:image/jpeg;base64,'+ item" alt="" />
          <div class="textarea-box">
            <p>Question</p>
            <textarea
              class="textarea"
              rows="5"
              cols="30"
              pInputTextarea
              [(ngModel)]="selectedQuiz.questions[i].questionText"
              name="questions"
            ></textarea>
          </div>
          <div
            *ngFor="
              let j of getRange(selectedQuiz.answers.length / uploadedImages.length);
              let k = index
            "
            class="textarea-box"
          >
            <p>Answer no.: {{ j + 1 }}</p>
            <textarea
              class="textarea"
              rows="5"
              cols="30"
              pInputTextarea
              [(ngModel)]="
                selectedQuiz.answers[
                  i * (selectedQuiz.answers.length / uploadedImages.length) + j
                ].answerText
              "
              name="answers"
            ></textarea>
          </div>
          <hr style="width: 100%; margin-top: 20px" />
        </div>
        <p class="rating-title">Choose level:</p>
        <div class="rating">
          <p-rating
            name="rating"
            [(ngModel)]="selectedQuiz.rating"
            [cancel]="false"
          ></p-rating>
        </div>
        <hr style="width: 100%; margin-top: 20px" />
        <div class="space"></div>
        <p-button type="submit" label="Ready" icon="pi pi-check"></p-button>
      </div>
    </div>
  </form>
  <p-toast></p-toast>
</div>
