<div class="container-quiz">
  <div class="block" (click)="choosenQuiz(oneQuiz)">
    <img
      class="quiz-image"
      [src]="getSafeImageUrl(oneQuiz.images[0].choosenImage)"
      alt=""
      height="500px"
      width="600px"
    />
    <div class="details">
      <p-rating
        [(ngModel)]="oneQuiz.rating"
        [readonly]="true"
        [cancel]="false"
      ></p-rating>
      <p class="title">
        {{ oneQuiz.title }}
      </p>
      <p class="text">
        {{ oneQuiz.description }}
      </p>
    </div>
  </div>
</div>
