.container-quiz {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.block {
  width: 500px;
  height: 500px;
  margin: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  cursor: pointer;
  margin-bottom: 15%;
  margin-top: 4%;
}

.block:hover {
  transform: scale(1.1);
}

.images {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.quiz-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.block:hover .quiz-image {
  transform: scale(1);
}

.details {
  margin-top: 10px;
  color: white;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.text {
  flex-grow: 1;
  overflow: hidden;
  color: white;
  word-wrap: break-word;
  font-family: 'Courier New', Courier, monospace;
  font-size: 19px;
}
