<div class="content">
  <div class="category">
    <div class="list">
      <p class="item">Polska</p>
      <p class="item">Motoryzacja</p>
      <p class="item">Auta</p>
      <p class="item">BMW</p>
      <p class="item">Fiat</p>
      <p class="item">Domy</p>
      <p class="item">Świat</p>
      <p class="item">Logistyka</p>
      <p class="item">Matematyka</p>
      <p class="item">Przyroda</p>
      <p class="item">Polska</p>
      <p class="item">Motoryzacja</p>
      <p class="item">Auta</p>
      <p class="item">BMW</p>
      <p class="item">Fiat</p>
      <p class="item">Domy</p>
      <p class="item">Świat</p>
      <p class="item">Logistyka</p>
      <p class="item">Matematyka</p>
      <p class="item">Przyroda</p>
      <p class="item">Polska</p>
      <p class="item">Motoryzacja</p>
      <p class="item">Auta</p>
      <p class="item">BMW</p>
      <p class="item">Fiat</p>
      <p class="item">Domy</p>
      <p class="item">Świat</p>
      <p class="item">Logistyka</p>
      <p class="item">Matematyka</p>
      <p class="item">Przyroda</p>
      <p class="item">Polska</p>
      <p class="item">Motoryzacja</p>
      <p class="item">Auta</p>
      <p class="item">BMW</p>
      <p class="item">Fiat</p>
      <p class="item">Domy</p>
      <p class="item">Świat</p>
      <p class="item">Logistyka</p>
      <p class="item">Matematyka</p>
      <p class="item">Przyroda</p>
      <p class="item">Polska</p>
      <p class="item">Motoryzacja</p>
      <p class="item">Auta</p>
      <p class="item">BMW</p>
      <p class="item">Fiat</p>
      <p class="item">Domy</p>
      <p class="item">Świat</p>
      <p class="item">Logistyka</p>
      <p class="item">Matematyka</p>
      <p class="item">Przyroda</p>
      <p class="item">Polska</p>
      <p class="item">Motoryzacja</p>
      <p class="item">Auta</p>
      <p class="item">BMW</p>
      <p class="item">Fiat</p>
      <p class="item">Domy</p>
      <p class="item">Świat</p>
      <p class="item">Logistyka</p>
      <p class="item">Matematyka</p>
      <p class="item">Przyroda</p>
      <p class="item">Polska</p>
      <p class="item">Motoryzacja</p>
      <p class="item">Auta</p>
      <p class="item">BMW</p>
      <p class="item">Fiat</p>
      <p class="item">Domy</p>
      <p class="item">Świat</p>
      <p class="item">Logistyka</p>
      <p class="item">Matematyka</p>
      <p class="item">Przyroda</p>
    </div>
  </div>
</div>
