<div class="container-quiz">
  <div class="block" *ngFor="let item of quizzesPage" (click)="choosenQuiz(item)">
    <div class="images" *ngIf="item.images && item.images.length > 0">
      <img
        class="quiz-image"
        [src]="getSafeImageUrl(item.images[0].choosenImage)"
        alt=""
        height="400px"
        width="600px"
      />
    </div>
    <div class="details">
      <p-rating
        [(ngModel)]="item.rating"
        [readonly]="true"
        [cancel]="false"
      ></p-rating>
      <p class="title">
        {{ item.title }}
      </p>
      <p class="text">
        {{ item.description }}
      </p>
    </div>
  </div>
</div>
<div class="card flex justify-content-center">
  <p-paginator (click)="goToTop()"
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="rows"
    [totalRecords]="allRecords"
    [rowsPerPageOptions]="[10]"
  ></p-paginator>
</div>
