<div class="container-quiz">
  <div class="block">
    <img src="../../assets/images/example-quiz.jpg" alt="" />
    <p class="text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores,
      ratione quisquam! Possimus alias accusamus, quasi quae iste est, molestiae
      delectus ab officiis ex maxime et nihil! Eaque delectus quia laboriosam.
    </p>
  </div>
  <div class="block">
    <img src="../../assets/images/example-quiz.jpg" alt="" />
    <p class="text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut optio, unde
      similique consequatur modi nam architecto harum! Dolores odio explicabo
      sunt eius. Officiis adipisci autem officia laudantium, magnam quaerat
      velit.
    </p>
  </div>
  <div class="block">
    <img src="../../assets/images/example-quiz.jpg" alt="" />
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum repellat
      provident quos quaerat dignissimos deleniti exercitationem eos commodi
      tenetur sequi officia quasi eveniet, odio ducimus rem, aliquam veniam
      animi doloribus!
    </p>
  </div>
  <div class="block">
    <img src="../../assets/images/example-quiz.jpg" alt="" />
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum repellat
      provident quos quaerat dignissimos deleniti exercitationem eos commodi
      tenetur sequi officia quasi eveniet, odio ducimus rem, aliquam veniam
      animi doloribus!</p>
  </div>
  <div class="block">
    <img src="../../assets/images/example-quiz.jpg" alt="" />
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum repellat
      provident quos quaerat dignissimos deleniti exercitationem eos commodi
      tenetur sequi officia quasi eveniet, odio ducimus rem, aliquam veniam
      animi doloribus!</p>
  </div>
  <div class="block">
    <img src="../../assets/images/example-quiz.jpg" alt="" />
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum repellat
      provident quos quaerat dignissimos deleniti exercitationem eos commodi
      tenetur sequi officia quasi eveniet, odio ducimus rem, aliquam veniam
      animi doloribus!</p>
  </div>
  <div class="block">
    <img src="../../assets/images/example-quiz.jpg" alt="" />
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum repellat
      provident quos quaerat dignissimos deleniti exercitationem eos commodi
      tenetur sequi officia quasi eveniet, odio ducimus rem, aliquam veniam
      animi doloribus!</p>
  </div>
  <div class="block">
    <img src="../../assets/images/example-quiz.jpg" alt="" />
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum repellat
      provident quos quaerat dignissimos deleniti exercitationem eos commodi
      tenetur sequi officia quasi eveniet, odio ducimus rem, aliquam veniam
      animi doloribus!</p>
  </div>
  <div class="block">
    <img src="../../assets/images/example-quiz.jpg" alt="" />
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum repellat
      provident quos quaerat dignissimos deleniti exercitationem eos commodi
      tenetur sequi officia quasi eveniet, odio ducimus rem, aliquam veniam
      animi doloribus!</p>
  </div>
</div>
<div class="card flex justify-content-center">
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="rows"
    [totalRecords]="120"
    [rowsPerPageOptions]="[10, 20, 30]"
  ></p-paginator>
</div>
