<div class="container">
  <app-top-bar></app-top-bar>
  <app-main-mid-window *ngIf="getNameComponents === 'main'" @fadeIn></app-main-mid-window>
  <app-category *ngIf="getNameComponents === 'category'" @fadeIn></app-category>
  <app-random *ngIf="getNameComponents === 'random'" @fadeIn></app-random>
  <app-top10 *ngIf="getNameComponents === 'top5'" @fadeIn></app-top10>
  <app-login *ngIf="getNameComponents === 'login'" @fadeIn></app-login>
  <app-register *ngIf="getNameComponents === 'register'" @fadeIn></app-register>
  <app-profile *ngIf="getNameComponents === 'profile'" @fadeIn></app-profile>
  <app-profile-admin *ngIf="getNameComponents === 'profile-admin'" @fadeIn></app-profile-admin>
  <app-admin-add *ngIf="getNameComponents === 'admin-add'" @fadeIn></app-admin-add>
  <app-admin-delete *ngIf="getNameComponents === 'admin-delete'" @fadeIn></app-admin-delete>
  <app-admin-update *ngIf="getNameComponents === 'admin-update'" @fadeIn></app-admin-update>
  <app-down-bar @fadeIn></app-down-bar>
</div>
