.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  width: 100%;
  margin-bottom: 7%;
}

.info {
  font-size: 20px;
  width: 100%; /* Updated width to take full width by default */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  margin-top: 5%; /* Add margin-top to create space between info and card */
  width: 100%; /* Updated width to take full width by default */
}

/* Media query for screens with a minimum width of 768px */
@media screen and (min-width: 768px) {
  .info {
    width: 25%; /* Adjust the width for larger screens as needed */
  }

  .card {
    margin-top: 0; /* Remove margin-top for larger screens */
    width: 50%; /* Adjust the width for larger screens as needed */
  }
}


:host ::ng-deep {
  .p-datatable .p-datatable-thead > tr > th {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .p-datatable .p-datatable-tbody > tr {
    color: white;
    background-color: rgba(37, 37, 37, 0.603);
  }
}
