:host ::ng-deep {
  .p-galleria .p-galleria-indicators {
    background-color: rgba(0, 0, 0, 0.83);
  }

}

.p-float-label textarea {
  resize: none;
  height: 44vh;
}

.container {
  display: flex;
  flex-direction: column; // Zmieniono, aby układ był pionowy na małych ekranach
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2%;
}

.quiz {
  display: flex;
  flex-wrap: wrap; // Dodane, aby elementy mogły zawijać się na nowe linie
  justify-content: center;
  width: 100%;
}

.left-site,
.mid-site,
.right-site {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.left-site,
.mid-site {
  margin-right: 0; // Zmieniono, aby usuwać margines na małych ekranach
}

.mid-site {
  margin-top: 7.5%;
}

@media screen and (min-width: 800px) {
  .quiz {
    flex-direction: row; // Dodane, aby przywrócić układ poziomy na większych ekranach
  }

  .left-site {
    width: auto; // Zmieniono, aby dostosować szerokość na większych ekranach
    margin-right: 1%; // Dodane, aby przywrócić margines między left-site a mid-site
  }

  .mid-site {
    width: auto; // Zmieniono, aby dostosować szerokość na większych ekranach
    margin-right: 1%; // Dodane, aby przywrócić margines między mid-site a right-site
  }

  .right-site {
    width: auto; // Zmieniono, aby dostosować szerokość na większych ekranach
  }
}
