* {
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  height: 57vh;
  text-align: center;
  background-color: rgba($color: #000000, $alpha: 0.5);
  width: 100%;
  margin-bottom: 9%;
  border-radius: 5%;
}

.form-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
  background-color: rgba($color: #000000, $alpha: 0);
}

.form-group-label,
.form-group-input {
  width: 48%;
}

.form-group-label {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form-group-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

a {
  text-decoration-line: none;
  background-color: rgba($color: #000000, $alpha: 0);
}

a:hover {
  text-decoration-line: underline;
}

.form-text,
.form-button {
  margin-top: 10px;
  opacity: 1;
  background-color: rgba($color: #000000, $alpha: 0);
}

label {
  font-size: 20px;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0);
  margin-bottom: 25px;
  margin-top: 5px;
}

input {
  height: 5vh;
  font-size: 20px;
  background-color: rgba($color: #000000, $alpha: 0);
}

#login,
#password,
#reapet-pass,
#e-mail {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 50px;
  background-color: rgba($color: #000000, $alpha: 0);
}

p {
  font-size: 16px;
}
