.container {
  background-color: black;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 8vh;
  padding-top: 30px;
}
p {
  color: white;
  text-align: center;
  font-size: 20px;
}
