* {
  color: white;
}

.navbar {
  width: 100%;
  min-height: 80px;
  background-color: rgb(0, 0, 0);
}

.right-top {
  font-size: 23px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 30px;
  text-decoration: none;
  transition: color 0.5s ease;
  cursor: pointer;
}

.right-top:hover {
  color: rgb(197, 46, 211);
}

.right-top:not(:first-child) {
  float: right;
  margin-right: 50px;
}

.right-top:not(:last-child) {
  margin-right: 50px;
}

.left-top {
  float: left;
  margin-top: -13px;
  margin-left: 50px;
  background-image: url(../../assets/images/logo.png);
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  cursor: pointer;
}

.mid-top {
  font-size: 23px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 10%;
  margin-right: -3.5%;
  margin-top: 30px;
  display: inline-block;
  text-decoration: none;
  transition: color 0.5s ease;
  cursor: pointer;
}

.mid-top:hover {
  color: rgb(27, 209, 27);
}
